/* Styles for Product Page Customization */
/* Created by Jiun Wang 2016 for WATS3010 Assignment */


/* 
01  basic elements
02  typography       
03  layout
04  misc
*/



/**  01 basic elements
****************************************************************/



/**  02 typography
****************************************************************/
body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p,
footer {
    font-size: 20px;
}
nav {
    font-size: 20px;
}


/**  03 layout
****************************************************************/
header {
    text-align: center;
/*     background-image: url('design/cover-1.jpg');
    min-height: 650px;
    background-repeat: no-repeat;
    background-position: 50% 80px;
    background-size: cover; */
}
nav {
    height: 80px;
}
.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    margin-bottom: 50px;
}
.navbar li {
    color: #000;
}
.navbar-brand img {
    width: 400px;
}
.nav {
    padding-top: 35px;
}
.nav a {
    color: navy;
}
.btn  {
    border-color: whitesmoke;
}
.btn-info {
    background: yellowgreen;
}
.btn-info:hover {
    background: navy;
    border-color: whitesmoke;
}
.nav-pills li.active a,
.nav-pills li.active a:hover,
.nav-pills li.active a:focus {
    background-color: navy;
    color: white;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.searchbar {
    z-index: 1;
}
.searchbar input {
    height: 45px;
    width: 1000px;
    border: 2px solid navy;
}
form {
    display: block;
    padding-bottom: 30px;
}
.top-buffer {
    margin-top: 30px;
}
#APIvideo {
    background-color: navy;
    padding-bottom: 35px;
}
#testimonials {
    margin: 55px 150px 55px 150px;
}
#testimonials .media {
    padding: 20px;
}
footer {
    position: relative;
    height: 300px;
    width: 100%;
    color: white;
    background-color: navy;

}
footer .container {
    padding-top: 50px;
}


/** 04 misc
****************************************************************/

.carousel-inner .item img,
.carousel-inner .item a img {
    position: relative;
    width: 100%;
    max-height: 600px;
    margin: 0;
    padding: 0;
  }
